@import url("https://fonts.googleapis.com/css?family=Lato:300|Rubik:400,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

section {
  min-height: 100vh; }

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

button {
  background: none;
  border: 3px solid #111517;
  border-radius: 5px;
  color: #111517;
  display: block;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
  /* BUTTON 1 */ }
  button::before, button::after {
    background: #111517;
    content: '';
    position: absolute;
    z-index: -1; }
  button:hover {
    cursor: pointer;
    color: white; }
  button::after {
    height: 0;
    left: 0;
    top: 0;
    width: 100%; }
  button:hover:after {
    height: 100%; }

.main-title {
  font: 5em "Rubik", sans-serif;
  font-weight: 700;
  color: #F5F5F5; }

.section-title {
  font: 3em "Rubik", sans-serif;
  font-weight: 700; }

.secondary-text {
  font: 100% "Lato", sans-serif;
  font-weight: 300; }

.fact-text {
  font: 100% "Lato", sans-serif;
  font-weight: 300; }

.guide-box {
  font: 3em "Rubik", sans-serif;
  font-weight: 700;
  color: #111517; }

.video-section {
  position: relative;
  width: 100%; }
  .video-section #video-bg-el {
    width: 100%; }

.scroll-a {
  text-decoration: none;
  color: #F5F5F5; }

.section1_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #F5F5F5;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 2fr 1fr;
  justify-content: center; }
  .section1_content .main-title {
    grid-column: 2/3;
    margin: 0;
    align-self: end;
    align-content: center;
    text-shadow: 0px 4px 3px #efefef; }
  .section1_content .secondary-text {
    grid-column: 2/4;
    margin: 0; }
  .section1_content .scroll-direction {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    width: 200px;
    text-align: center; }

.myth {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 150px auto 50px;
  text-align: center; }
  .myth .grid-area-title {
    grid-column: 2/3;
    grid-row: 1;
    align-self: center; }
  .myth .grid-area-question {
    grid-column: 2/3;
    grid-row: 2;
    align-self: center; }
  .myth .show-tweet {
    grid-column: 2/3;
    grid-row: 3;
    align-self: center; }
  .myth .secondary-text {
    flex-basis: 80px; }
  .myth .guide-box {
    text-align: center;
    cursor: pointer; }
  .myth .fact-border {
    margin-bottom: 20px;
    padding: 2em 5em;
    box-shadow: 10px 10px 40px -10px rgba(145, 145, 145, 0.5); }

.resources-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20vh auto 5vh;
  text-align: center; }

.resources-title {
  grid-column: 1/-1;
  grid-row: 1/2; }

.resource01 {
  grid-column: 2/3;
  grid-row: 2/3; }

.resource02 {
  grid-column: 3/4;
  grid-row: 2/3; }

.resource03 {
  grid-column: 4/5;
  grid-row: 2/3; }

.resources-detail {
  align-self: center;
  font-size: 2em; }

.resource-text {
  align-self: center;
  text-align: left;
  font: 1.2em "Lato", sans-serif;
  font-weight: 300;
  margin: 20px;
  padding: 2em 5em;
  box-shadow: 10px 10px 40px -10px rgba(145, 145, 145, 0.5); }

.resource-text01 {
  grid-column: 3/-1;
  grid-row: 2/3; }

.resource-text03 {
  grid-column: 1/4;
  grid-row: 2/3; }

.link-text {
  color: #111517;
  font-weight: 700;
  text-decoration: none; }

.twitter-end {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: #ededed;
  color: white; }

.hide {
  display: none; }

.open {
  display: block; }

.scroll-direction {
  grid-column: 1/-1;
  grid-row: 4/5;
  width: 100%;
  align-self: center; }

.arrow-down {
  width: 2%; }

.arrow-down .arrow-b {
  animation-delay: -.1s;
  -webkit-animation-delay: -.1s; }

.arrow {
  fill: none;
  stroke: #111517;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  animation: arrow-down 2s infinite;
  -webkit-animation: arrow-down 2s infinite; }

@keyframes arrow-down {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 0.25; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
