@import url('https://fonts.googleapis.com/css?family=Lato:300|Rubik:400,700');

$title-font : 'Rubik', sans-serif;
$body-font : 'Lato', sans-serif;


$main-color: #111517;
$light-color: #F5F5F5;
$highlight-red: #EF0D33;


* {box-sizing: border-box;}

body {margin:0; padding:0;height: 100%; }

section {min-height: 100vh; }

//https://codepen.io/ritchiejacobs/pen/qEJjBM?limit=all&page=13&q=hover+
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid $main-color;
  border-radius: 5px;
  color: $main-color;
  display: block;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
  	&::before,
	&::after {
	  background: $main-color;
	  content: '';
	  position: absolute;
	  z-index: -1;
	}

	&:hover {
		cursor: pointer;
	  	color: white;
	}

	/* BUTTON 1 */
	&::after {
	  height: 0;
	  left: 0;
	  top: 0;
	  width: 100%;
	}

	&:hover:after {
	  height: 100%;
	}
}



.main-title {font:5em $title-font; font-weight: 700; color:$light-color;}
.section-title {font:3em $title-font; font-weight: 700;}
.secondary-text {font:100% $body-font; font-weight: 300;}
.fact-text {font:100% $body-font; font-weight: 300;}
.fact-open {font:3em $title-font; font-weight: 700; color:$main-color;}

//.tweetText {}


.video-section {
	position: relative;
	width: 100%;

	#video-bg-el {
		width: 100%;
	}
}

.scroll-a {
	text-decoration: none;
	color: $light-color;
}


.section1_content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:$light-color;

	display: grid;
	grid-template-columns: 2fr 1fr 3fr 2fr 1fr;
	//grid-template-rows: 60vh 20vh;
	justify-content: center;

	.main-title {
		grid-column: 2/3;
		margin: 0;
		align-self: end;
		align-content: center;
		text-shadow: 0px 4px 3px #efefef;
	}
	.secondary-text {
		grid-column: 2/4;
		margin: 0;
	}
	.scroll-direction {
	    grid-column: 1/-1;
	    justify-self: center;
	    align-self: center;
	    width: 200px;
	    text-align: center;
	}
}


.myth {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto 80px 450px 50px;
	text-align: center;


	.grid-area-title {
		grid-column: 2/3;
		grid-row: 1;
		align-self: center;
	}
	.grid-area-question {
		grid-column: 2/3;
		grid-row: 2;
		margin: 0;
		//align-self: center;
	}

	.show-tweet { 
		grid-column: 2/3;
		grid-row: 3;
		align-self: center;
	}

	.secondary-text {
		flex-basis: 80px;
	}




	.fact-border {
		// background: white;
		margin-bottom: 20px;
		padding: 2em 5em;
		box-shadow: 10px 10px 40px -10px rgba(145,145,145,0.5);
	}
}

#tweet1, #tweet2, #tweet3, .tweetGrid {height: 100%;}

.tweetGrid {
	display: grid;
	grid-template-columns: 1fr 2fr 5fr;
	grid-template-rows: 20% 80%;;
	position: relative;
}

.tweetUserName {
	grid-column: 2/-1;
	font-size: 3em;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	align-self: center;
}

.tweetText {
	height: 100%;
	text-align: center;
	cursor: pointer;
	grid-column: 2/3;
	grid-row: 3;
	align-self: center;
	font: 100% $title-font; font-weight: 700; color:$main-color;
}

.tweetTextData {
	grid-column: 2/-1;
	grid-row: 2/3;
	font-size: 3em;
	text-align: left;
	margin: 0;
	font-size: 2em;
}

.tweetProfile {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
}





.resources-section{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 20vh auto;
	text-align: center;
}
.resources-title {
	grid-column: 1/-1;
	grid-row: 1/2;
}
.resource01 {grid-column: 2/3; grid-row: 2/3;}
.resource02 {grid-column: 3/4; grid-row: 2/3;}
.resource03 {grid-column: 4/5; grid-row: 2/3;}

.resources-detail {
	align-self: center;
	font-size: 2em;
}


.resource-text {
	align-self: center;
	text-align: left;
	font: 1.2em $body-font; font-weight: 300;
	margin: 20px;
	padding: 2em 5em;
	box-shadow: 10px 10px 40px -10px rgba(145,145,145,0.5);
}
.resource-text01 {
	grid-column: 3/-1;
	grid-row: 2/3;
}
.resource-text03 {
	grid-column: 1/4;
	grid-row: 2/3;
}

.link-text {
	color: $main-color;
	font-weight: 700;
	text-decoration: none;

}

.twitter-end {
	grid-column: 1/-1;
	grid-row: 3/4;
	background-color: #ededed;
	color: white;
}


.hide {
	display: none;
}

.open {
	display: block;

}

footer {
	font:100% $body-font; font-weight: 300;
	color: white;
	background-color: $main-color;
	text-align: center;
	padding: 1em;
}

// animation
.link-effect {
	position: relative;
  	color:  $main-color;
  	text-decoration: none;

  	&:hover {
  		color:  $main-color;
  	}

  	&:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 5px;
	  bottom: -7px;
	  left: 0;
	  background-color: $highlight-red;
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.2s ease-in-out 0s;
	  transition: all 0.2s ease-in-out 0s;
	}
	&:hover:before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}

}

.textEffect {
	-webkit-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
}


// svg
.scroll-direction {
	grid-column: 1/-1;
	grid-row: 4/5;
	width: 100%;
	align-self: center;
}
.arrow-down {
	width: 2%;
}

.arrow-down .arrow-b{
	animation-delay:-.1s;
	-webkit-animation-delay:-.1s;
}

.arrow{
	fill: none;
	stroke:$main-color;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:3px;
	animation: arrow-down 2s infinite;
	-webkit-animation: arrow-down 2s infinite; 
}

@keyframes arrow-down {
	0% {opacity:0}
	25% {opacity:1}
	75% {opacity:0.25;}
	100% {opacity:0}
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
	.tweetUserName {
		font-size: 1.5em;
	}
	.tweetTextData {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 899px) and (min-width: 400px) {
	svg {
		display: none;
	}
	.section1_content {
		grid-template-columns: auto;
		justify-content: start;
	}
	.section1_content .scroll-direction {
		justify-self: start;
		align-self: start;
		width: 100%;
		grid-column: 2/3;
		text-align: left;
	}
	.scroll-direction {
	    grid-row: auto;
	    align-self: start;
	    text-align: left;
	}



	.tweetTextData {
	    grid-column: 1/-1;
	    grid-row: 3/4;
	    font-size: 3em;
	    text-align: left;
	    margin: 0;
	    font-size: 1em;
	}
	.tweetGrid {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-template-rows: auto;
	    position: relative;
	}
	.tweetProfile {
		grid-column: 1/-1;
		align-self: center;
		justify-content: center;
		text-align: center;
		margin-left: 25%;
		float: left;
	}
	.tweetUserName {
		font-size: 1em;
		grid-column: 1/-1;
		text-align: center;
	}
}

@media only screen and (max-width: 676px) {
	.resources-section {
		display: flex;
		flex-direction: column;
	}
	.scroll-direction {
		display: none;
	}
}

@media only screen and (max-width: 578px) {
	.video-section {display: none;}
	.section1_content {
		height: 80vh;
	 	background-image: url(../img/mobliebg.jpg);
	 	background-size: cover;
	 	background-position: center;
	 	background-repeat: no-repeat;
	 }
	 .section1_content .secondary-text {
	 	align-self: center;
	 	background-color: $main-color;
		padding: 5px 20px;
	 }
}




